.about-page {
    padding: 2em 4em;
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-page h1 {
    text-align: center;
    font-size: clamp(48px, 3vw, 96px);
    font-weight: 400;
    font-family: 'GFS Didot', serif;
    background-color: #C8A2C8;
    color: #000000;
    margin-top: 0;
}

.about-page .about-pic {
    width: 80%;
    margin: 0 auto;
}

.about-page p {
    font-family: 'Source Sans Pro', sans-serif;  
    font-size: clamp(16px, 1.5vw, 24px);
}

@media screen and (max-width: 650px) {
    .about-page {
        display: block;
    }
}

