.about-page .about-pic {
    width: 80%;
    margin: 0 auto;
}

.about-page p {
    font-family: 'Source Sans Pro', sans-serif;  
    font-size: clamp(16px, 1.5vw, 24px);
}

@media screen and (max-width: 650px) {
    .about-page {
        display: block;
    }
}

